.files{
    display: flex;
    flex-direction: column;
}

input[type="file"] {
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    border-radius: 20px;
  }

input[type="file"]:hover {
  cursor: pointer;
}
  
  label {
    align-self: center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 20rem;
    width: 40%;
    display: inline;
    justify-content: center;
    background: #F5F3EE;
    border: 16px solid #F5F3EE;
    border-radius: 20px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='grey' stroke-width='5' stroke-dasharray='12' stroke-dashoffset='10' stroke-linecap='square'/%3e%3c/svg%3e");    
    box-shadow: rgba(100, 100, 111, 0.25) 0px 7px 29px 0px;
}
  
  label:hover {
    background-color: #E8E5DE;
    border-radius: 20px;
  }

  .text p{
    padding: 2.5rem;
    font-weight: bold;
  }

  #filename{
    padding:0;
    font-weight: normal;
    font-style: italic;
    margin: 4.5rem;
  }

  .icon{
    object-fit: contain;
  }

 label span {
    color:#FFA800;
    font-weight: bold;
    text-decoration: underline;
  }

  .submitBtn {
    align-self: center;
    width: 25%;
    background-color: #F5F3EE;
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    list-style: none;
    margin: 5rem;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.submitBtn:disabled {
  background-color: #999078;
  color: #a5a5a5;
}

#spinner{
  z-index: 1000;
  visibility: visible;
  width: 96px;
  height: 96px;

  border: 5px solid black;
  border-top:5px solid #FFA800;
  border-radius: 100%;

  position: relative;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
  }
}
