p {
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #E8E5DE;
}

.App {
  text-align: center;
  font-family: 'Inter', sans-serif;}

.bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6rem;
  background: #F5F3EE;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  justify-content: center;
}

.barText{
  justify-content: center;
  padding-left: 3%;
}

#barText1{
  font-size: 36px;
  font-weight:bold;
}

#barText2{
  color: #FFA800;
  font-weight: bold;
}

.container{
  margin-top: 6%;
  align-self: center;
}

.search {
  width: 60%;
  margin: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.75rem 1rem;
  border-radius: 3rem;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.25) 0px 7px 29px 0px;
}

.search input {
  flex: 1;
  border: none;
  font-size: 1rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: #a1a1a1;
  background: white;
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.container1 {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.resume {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: white;
  width: 210px;
  height: 240px;
  margin: 1.5rem;
  padding: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  overflow: scroll;
}

.resume:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.resume p {
  font-size: x-small;
}

.contacts {
  margin: 0px 1rem 0px 0rem;
  font-size: 8px !important;
}

.resume #name {
  font-weight: bold;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

#education {
  margin-bottom: 1rem;
  white-space: nowrap;
  overflow: scroll;
  text-overflow: ellipsis;
}

#experience{
  margin-bottom: 1rem;
  white-space: nowrap;
  overflow: scroll;
  text-overflow: ellipsis;
}

#skills{
  margin-bottom: 1rem;
  white-space: nowrap;
  overflow: scroll;
  text-overflow: ellipsis;
}

.footer{
  margin-top: 0.5rem;
  align-self: center;
}

hr {
  border: 2px solid #828282;
}

